/* public/css/custom.css */


/* Paddings */
.padding-left-5 {
    padding-left: 5px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.padding-top-15 {
    padding-top:15px !important;
}
.padding-top-20 {
    padding-top:15px !important;
}
.padding-top--5 {
    padding-top:-5px !important;
}
.padding-top--10 {
    padding-top:-10px !important;
}

margin-right-10 {
    margin-right:10px !important;
}
/* Margins */
.margin-left-5 {
    margin-left:5px !important;
}

/* custom-login.css */
* {
   font-family: "Inter", sans-serif;
}

.login-title {
    margin-bottom: 40px;
}

.login-title strong {
    font-size: 24px; 
    font-weight: 800;
    color: #D33026;
}

.login-title .dashboard {
    font-weight: 200; 
    font-size: 24px;
}

.form-container {
    width: 256px; 
    margin: auto;
}

.input-field {
    height: 49px; 
    margin: auto;
    display: block;
    width: 100%;
    padding: 0 1rem;
    background-color: white;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.red-button-class {
    height: 49px; 
    text-align: center; 
    font-size: 14px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-transform: none;
}

.link-forgot-password,
.link-register {
    color: #0075FF; 
    font-weight: 200;
} 

/* Custom CSS for SAPOA Awards Dashboard */

/* SAPOA Awards */
.sapoawards-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #D72C20;
}

/* DASHBOARD */
.dashboard-title {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #292929;
}

/* Forgot Password */
.forgot-password {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #0075FF;
    /* Adjusted with Tailwind classes in the template */
}

/* Register New Membership */
.register-new {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #0075FF;
    /* Adjusted with Tailwind classes in the template */
}

/* Sign In Button */
.sign-in-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    background-color: #D72C20;
    border: 1px solid #C12014;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

/* Header bar */
.header-bar-icon-button {
    margin-right: 10px;
    padding-top: 0px;
}

.user-profile-block {
    background-color:#4C4C4C; 
    border-radius:5px; 
    padding-left:10px; 
    padding-right:10px; 
    padding-top:5px;
    padding-bottom:5px; 
    padding-top:5px
}


/* Left Navigation Button */
.left-nav-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    color: #D1D5DB;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #505050;
    cursor: pointer;
    outline: none;
}

.left-nav-button:hover {
    background-color: #777777;
}

.left-nav-button .icon-right {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.left-nav-button .icon-container {
    display: flex;
    align-items: center;
}

.left-nav-button .chevron {
    transition: transform 0.2s;
}

.left-nav-button .chevron.rotate-180 {
    transform: rotate(180deg);
}

/* Left Navigation Sub-Button */
.left-nav-sub-button {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    color: #9CA3AF;
    background-color: #5E5E5E;
    border-bottom: 2px solid #505050;
    text-decoration: none;
}

.left-nav-sub-button:hover {
    background-color: #222222;
}

.left-nav-sub-button .icon-left {
    width: 8px;
    height: 8px;
    margin-right: 0px;
}

/* Sub-Button Container */
.sub-button-container {
    margin-left: 0px;
    margin-top: 0px;
}


/* User Dashboard */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
}

.dashboard-item {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-item-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.dashboard-item-value {
    font-size: 1.5 rem;
    font-weight: 700;

}

.dashboard-item-value span {
    font-size: 2.25rem;
    font-weight: 700;
}

.dashboard-item-description {
    margin-top: 0.5rem;
}

@media (max-width: 767px) {
    .dashboard-grid {
        grid-template-columns: 1fr;
    }
}


/* Alert Bar */
/* Add this to your main CSS file */
.alert-bar {
    display: none; /* Initially hidden, shown by Alpine.js */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    z-index: 100; /* Ensure it's above other elements */
    color: white;
    text-align: center;
}

.alert-info {
    background-color: #007bff;
    border-color: #006fe6;
}

.alert-success {
    background-color: #28a745;
    border-color: #25963e;
}

.alert-warning {
    background-color: #ffc107;
    border-color: #e0a800;
    color: black; /* For better contrast */
}

.alert-error {
    background-color: #dc3545;
    border-color: #c82333;
}

.alert-bar button {
    background: none;
    border: none;
    color: inherit;
    font-size: 1.5rem;
    cursor: pointer;
}
